<%- include ("../partials/header") %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <% if(!blog.image) {%>
                        <img src="https://webmaster.ypsa.org/wp-content/uploads/2012/08/no_thumb.jpg">
                    <% }else { %>
                        <img class="img-responsive" src="<%= blog.image %>" id="blogImg">
                    <% } %>
                    <div class="caption-full">
                        <h4><a><%=  blog.title %></a></h4>
                        <p><i>Submitted by <%= blog.author.username %></i></p>
                        <p><%- blog.description %></p>
                        <% if(currentUser && blog.author.id.equals(currentUser._id)|| currentUser && currentUser.isAdmin){ %>
                            <a href="/blogs/<%= blog._id %>/edit" class="btn btn-warning btn-xs">Edit</a>
                            <form id="deleteForm" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-danger btn-xs">DELETE</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include ("../partials/footer") %>

